/*text styles*/
body{
  font-size: 16px;
  font-family: 'europa';
  line-height: 1.5;
  margin: 0;}

.label{
  -webkit-margin-after:0;
  font-size: 1.5rem;
  color: #778899;
  }

.header{
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  font-size: 3.5rem;
  font-family: 'Abril Fatface';}

.subhead{
  -webkit-margin-before:0;
  -webkit-margin-after:0;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgba(40,44,54,0.4);
}

.body{
  -webkit-margin-before:0.0;
  -webkit-margin-after:0.5;
  font-size: 1.25rem;
  color: rgba(40,44,54,0.85);
}

.project-header{
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  font-size: 1.5rem;
  font-weight:bold;
  color: #778899;
}

.project-desc{
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  color: rgba(40,44,54,0.85);
}

.entryheader{
  -webkit-margin-before:0.0;
  -webkit-margin-after:0.5;
  font-family: 'europa';
  font-size: 1rem;
  color: rgba(40,44,54,0.6);
}

.entry{
  -webkit-margin-before:0.0;
  -webkit-margin-after:0.5;
  font-family: 'europa';
  font-size: 1rem;
  color: rgba(40,44,54,0.85);
}

.secret{
  opacity: 0;
}

.b {
  font-weight: bold;
}

.footer{
  color: #93959A;
  font-size: 1rem;
}

/*color*/
.pink,
.hover-pink:hover {
  color: #ef6145;
  transition: color .15s ease-out;
}
.blue {
  color: #c7d8f3;
}

.slate,
.hover-slate:hover {
  color: #282C36;
  transition: color .15s ease-out;
}

.grey-dark {
  color: rgba(40,44,54,0.6);
}

.grey-med {
  color: rgba(40,44,54,0.4);
}

.grey-light {
  color: rgba(153,153,153,1);
}

.bg-yellow {
  background-color: #ffea15;
}
/*links*/
/* unvisited & visited*/

a:link, a:visited {
    color: rgba(40,44,54,0.85);}

a:hover {
    color: #ef6145;}

a:active {
    color: #ef6145;}

a.nav-link {
  padding: 16px;
  color: #778899;
  font-size: 1.25rem;
  text-decoration: none;}

a.nav-link.selected {
  color: #ef6145;
  font-weight: bold;}

a.nav-link:hover {
  padding: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color:#ef6145;
  font-size: 1.25rem;
  text-decoration: none;}

a.social-link {
  margin-right: 32px;
  color: #93959A;
  font-size: 1rem;
  text-decoration: none;}

a.social-link:hover{
  color: #ef6145;
}

/*nav */
.main-nav {
  position:fixed;
  top: 0;
  right: 0;
  max-width: 800px;
  text-align: right;
  padding-top: 32px;
}

ul{
  overflow:hidden;
  list-style: none;
  padding-inline-start: 0px;}

li{
  float:left;}

li.nav{
  float:right;}

/*containers*/
div{
  max-width: 800px;
  margin: auto;
  }

.social{
  display:inline-block;
  }

.project{
  position:relative;
  top: 0px;
}

.project-image{
  display: inline-block;
  max-width: 250px;
  border-radius: 4px;
  margin-right: 32px;

}

.project-text{
  display: inline-block;
  position:absolute;
  top: 0px;
  max-width: 450px;
}



/*margins*/
.m0  { margin:        0 }
.mt0 { margin-top:    0 }
.mr0 { margin-right:  0 }
.mb0 { margin-bottom: 0 }
.ml0 { margin-left:   0 }

.m05  { margin:        1rem }
.mt05 { margin-top:    1rem  }
.mr05 { margin-right:  1rem  }
.mb05 { margin-bottom: 1rem  }
.ml05 { margin-left:   1rem  }

.m1  { margin: 2rem }
.mt1 { margin-top: 2rem }
.mr1 { margin-right: 2rem }
.mb1 { margin-bottom: 2rem }
.ml1 { margin-left: 2rem }

.m2  { margin: 4rem }
.mt2 { margin-top: 4rem }
.mr2 { margin-right: 4rem }
.mb2 { margin-bottom: 4rem }
.ml2 { margin-left: 4rem }

.m3  { margin: 6rem }
.mt3 { margin-top: 6rem }
.mr3 { margin-right: 6rem }
.mb3 { margin-bottom: 6rem }
.ml3 { margin-left: 6rem }

.m4  { margin: 8rem }
.mt4 { margin-top: 8rem }
.mr4 { margin-right: 8rem }
.mb4 { margin-bottom: 8rem }
.ml4 { margin-left: 8rem }

/*keyline*/
.keyline {
  height:1px;
  background-color:#ef6145;
}
