/*text styles*/
html {font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
  margin: 0;
}

h1 {font-size: 3rem;
    font-family: 'Abril Fatface';
    color: #ef6145;
   }
h2 {font-size:2rem;}
h3 {font-size:1.5rem;
    font-weight: normal;}
h4 {font-size: 1.25rem;
    font-weight: normal;}
h5 {font-size:1rem;
    font-weight: normal;}
h6 {font-size:0.875rem;}

/*links/

/* unvisited & unvisited*/
a:link, a:visited {
    color: #282C36;
}

/* mouse over link */
a:hover {
    color: #ef6145;
    font-weight: bold;
}

/* selected link */
a:active {
    color: #ef6145;
}


/*containers*/
div{
  padding-top: 3em;
  max-width: 650px;
  height: 100%;
  margin: auto;
  }

.header{
  margin-top: 32px;
  margin-bottom: 32px;
  font-size: 3rem;
  font-family: 'Abril Fatface';
  color: #ef6145;
}

.body{
  margin-top: 32px;
  margin-bottom: 32px;
  font-family: 'Fira Sans';
  color: #282C36;
  font-size: 1.25rem;
  line-height: 1.5;
}
