@font-face {
    font-family: Domaine Display;
    src: url('file:assets/css/fonts/DomaineDisp-Semibold.otf') format('opentype');
}
/*text styles*/
html {font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
  margin: 0;
}

h1 {font-size: 3rem;}
h2 {font-size:2rem;}
h3 {font-size:1.5rem;
    font-weight: normal;}
h4 {font-size: 1.25rem;
    font-weight: normal;}
h5 {font-size:1rem;
    font-weight: normal;}
h6 {font-size:0.875rem;}

/*containers*/
.header{
	padding-top: 8em;
  width: 600px;
	height: 100%;
  margin: auto;
  margin-top: 32px;
  margin-bottom: 32px;
}

.body{
	width: 600px;
	height: 100%;
  height: 100%;
  margin: auto;
  margin-top: 32px;
  margin-bottom: 32px;
}
